mediapipe==0.10.21
opencv-contrib-python-headless==4.10.0.84
Django==5.2.13
djangorestframework==3.17.1
requests==2.33.1
dj-database-url==2.3.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.8.2
